<div *ngIf='isLoading'>
    <app-loading></app-loading>
</div>
<div *ngIf='!isLoading' class="container">
    <div *ngIf='isClicked' class="messages">
        <div class="message" *ngFor='let message of messages'>
            <p>{{ message.title }}</p>
            <p>{{ message.author }}</p>
            <p class="status" *ngIf='message.status'>
                {{ message.date }}
                <img class="icon" src="//s.svgbox.net/hero-outline.svg?fill=fff&ic=check">
            </p>
            <p class="status" *ngIf='!message.status'>
                {{ message.date }}
                <img class="icon" src="//s.svgbox.net/hero-outline.svg?fill=fff&ic=x">
            </p>
        </div>
    </div>

    <header>
        <img class="activator" (click)='handleClick()' src="//s.svgbox.net/hero-outline.svg?fill=fff&ic=annotation">
        {{ messages.length }}
    </header>
</div>